/* Meyers Reset Code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- End of CSS Reset */
/* Default text */
/* All text selector (exclude h1 tag) */
html {
	font-family: 'Roboto Mono', monospace;
	
}
/* Flex Container Img H1 P */
div.tibox header.ib-container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;

}


/* Yosemite Park font and other Flex items*/

div.tibox header.ib-container h1 {
	font-family: "Chelsea Market", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2.6rem;
	
	
}
.headcont {
	margin-left: 2rem;
}
div.tibox header.ib-container p.flxitm1 {
	font-size: small;
	
	
}
div.tibox header.ib-container p.flxitm2 {
	align-self: center;
	
	
}
/* Nav Bar Modifiers */
/* Lines 62-66 is using flexbox for button spacing */
div.navbar nav.nav-links {
	/* border: 1rem dotted chartreuse; (testing flex container prop)*/
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
div.navbar nav.nav-links button{
	border: 0px;
	border-radius: 1rem;
	height: 3rem;
	display: inline-block;
}
div.navbar nav.nav-links button.nav-one {
	background-color: #FF764E;
	/* Note for continuance consider using anchor tags here instead of buttons
	Also use the inline-block display type. */
}
div.navbar nav.nav-links button.nav-two {
	background-color: #5ED3EB;
}
div.navbar nav.nav-links button.nav-three {
	background-color: #FFCD69;
}
/* End of Nav Bar Modifiers */

/* Header Image inline with h1 and first textbox */
/* header .ib-container {
	display: inline-block;
	
} */
div.tibox  {
	display: flex;
	
	
}
/* setting width to a % and setting height to auto scales the img */
div.tibox img.hdimg {
	width: 12rem;
	height: auto;
	border-radius: 50%;
	margin-left: 3.5rem;
}
/* White Text in Box thats Brown */
section.wtext {
	width: 56rem;
	margin: auto;
	color:white;
	background-color: #DDB9A3;
	text-align: center;
}
/* Fire and Truck Image styling */
section.fire-and img {
	display: block;
	width: 10em;
	height: 10em;
	margin: 2em auto;
	
}
section.truck-and img {
	display: block;
	width: 10em;
	height: 10em;
	margin: 2em auto;
}	
/* Fire Text */
section.fire-and p{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 20em;
}

/* Truck Text */
section.truck-and p{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 20rem;
}
/* Footer */
footer.bot-of-page {
	background-color:#F9E7DC;
}
footer.bot-of-page img.ftimg {
	width: 60rem;
	height: 10rem;
}